@import '../../assets/styles/variables.scss';

.landing{
    &-wrapper{
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 150px;
        text-align: center;
        min-height: 100% !important;
        height: 100%;
    }
    &-title{
        font-size: 6em;
        @media screen and (max-width: $max_mobile_width)
        {
          font-size: 3em;
        }
        font-weight: 700;
    }
    &-subtitle{
        font-size: 2em;
        @media screen and (max-width: $max_mobile_width)
        {
          font-size: 1.5em;
        }
        font-weight: 500;
    }
    &-buttons{
        margin-top: 20px;
    }
}