.landing{
    &-wrapper{
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 150px;
        text-align: center;
        min-height: 100% !important;
        height: 100%;
    }
    &-title{
        font-size: 6em;
        font-weight: 700;
    }
    &-subtitle{
        font-size: 2em;
        font-weight: 500;
    }
    &-buttons{
        margin-top: 20px;
    }
}