@import '../../assets/styles/variables.scss';
.postfeed{
    &-wrapper{
        display: flex;
        flex: 1;
        height: 100%;
        margin-top: 30px;
        margin-left: 10%;
        margin-right: 10%;
    }
    &-error{
        display: flex;
        width: 100%;
        justify-content: center;
        color: $granate_dark;
    }
}