@import '../../assets/styles/variables.scss';

@keyframes slideInFromLeft {
    0% {
      transform: translateY(80%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 0.8;
    }
}

.gobacktotopbutton-wrapper{
    background-color: $granate_dark;
    transition: all 300ms;
    opacity: 0.8;
    color: white;
    border-radius: 5px;
    right: 15px;
    width: 50px;
    height: 50px;
    padding: 10px;
    bottom: 15px;
    position: fixed;
    border: none;
    cursor: pointer;
    animation: 0.3s ease-out 0s 1 slideInFromLeft;

    &:hover{
        background-color: $granate_dark;
        opacity: 1;
    }

    &:focus{
        outline: none;
    }
}