@import '../../assets/styles/variables.scss';

.button-wrapper{
    border: 2px solid $granate_dark;
    background-color: $granate_dark;
    font-family: 'Montserrat';
    font-weight: 600;
    padding: 5px 10px;
    border-radius: 5px;
    transition: all 300ms;
    color: white;
    font-size: 1em;
    cursor: pointer;
    &:hover{
        background-color: #e63b2f;
        color: white;
    }
    &:focus{
        outline: none;
    }
}